{% extends 'base.html.twig' %}

{% block body %}

    <div class="top_banner">
        <img src="/assets/medias/mattias-olsson-nQz49efZEFs-unsplash.jpg" alt="">
        <a href="#figures">
            <div class="go_back"><i class="fa-solid fa-arrow-down"></i></div>
        </a>
    </div>

    {% for message in app.flashes('success') %}
        <div id="msg_flash" class="container flash-success">
            <div class="alert alert-dismissible alert-success">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
            </div>
        </div>
    {% endfor %}

    <section id="figures" class="figures">
        {% for figure in figures %}
            {% include "trick/partials/_figure.html.twig" with {"figure": figure} %}
        {% endfor %}
    </section>
    <button type="button" id="load-more" class="btn btn-primary" data-offset="0">Charger plus</button>


{% endblock %}

{% block javascripts %}
    <script>


    </script>
{% endblock %}
